<div class="container2">
  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="assets/images/avatar.jpg" alt="Avatar"/>
      <mat-card-title>FichaTu (Version: 0.8)</mat-card-title>
      <mat-card-subtitle>Autor: Ángel González</mat-card-subtitle>
    </mat-card-header>
    <img class="imagen" mat-card-image src="assets/images/pasarLista.png" alt=""/>
    <mat-card-content>
      <p>
        FichaTu surge como necesidad para evitar las perdidas de tiempo a la hora de controlar la asistencia a clase de los alumnos.
      </p>
      <p>
        Ahora el profesor no tiene que pasar lista, es el alumno quien se encarga de fichar.
      </p>
      <p>
        Copyright © Todos los derechos reservados
      </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
